@page
@model CadastroCliente.Pages.Cliente.ListaModel
@{
}

<a href="/Cliente/Cadastro">Cadastrar Novo Cliente</a>

<table>

    <tr>
        <td>Nome</td>
        <td>Email</td>
        <td>CPF</td>
        <td>Data de Nascimento</td>
        <td>Ação</td>

    </tr>

    @foreach(var item in Model.Clientes)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Email</td>
            <td>@item.CPF</td>
            <td>@item.DtNascimento</td>
            <td>
                <a href="/Cliente/Editar/@item.Id">
                    Editar cliente
                </a>
                <a href="/Cliente/Excluir/@item.Id">
                    Excluir cliente
                </a>

            </td>
        </tr>
    }
</table>